input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cvc{
  padding-right: 0;
}

#vencimiento{
  padding-left: 0;
}

#botonEfectivo, #botonTarjeta{
  width: 70%;
}

@media screen and (max-device-width: 991px) {
  #cvc{
    padding: 0;
  }

  #vencimiento{
    padding: 0;
  }
}

