
#hora{
  padding-right: 0;
}

#fecha{
  padding-left: 0;
}

#botonEfectivo, #botonTarjeta{
  width: 70%;
}

@media screen and (max-device-width: 991px) {
  #hora, #fecha{
    padding: 0;
  }
}
